<div class="chat">
    <div class="speech-bubble" id="speech-bubble">
        <button class="close-button" onclick="hideSpeechBubble()">x</button>
        <div class="speech-bubble-content">
            <p class="intro-categories">
                Hi there, do you want to explore all the gorgeous information 
                about Tübingen but you don't know where to start?
                No problem! I am Hölderlin, one of Tübingen's most famous
                poets, and more than happy to show you around.<br><br>
                Just click on one of the buttons and I will tell you more.
            </p>
            <div class="categories" id="categories">
                <button id="button-history" class="nav-button" onclick="showSubcategories('history')">History & Culture</button>
                <button id="button-education" class="nav-button" onclick="showSubcategories('education')">Education</button>
                <button id="button-sightseeing" class="nav-button" onclick="showSubcategories('sightseeing')">Sightseeing & Leisure</button>
                <button id="button-food" class="nav-button" onclick="showSubcategories('food')">Food & Drinks</button>
            </div>
            <p class="intro-categories" id="intro-subcategories"></p>
            <div class="categories" id="history">
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="history" style="display: none;">
                    <input class="nav-button" type="submit" value="History">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="museums" style="display: none;">
                    <input class="nav-button" type="submit" value="Museums">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="theater" style="display: none;">
                    <input class="nav-button" type="submit" value="Theater">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="concerts" style="display: none;">
                    <input class="nav-button" type="submit" value="Concerts">
                </form>
            </div>
            <div class="categories" id="education">
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="university" style="display: none;">
                    <input class="nav-button" type="submit" value="University">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="research institutes" style="display: none;">
                    <input class="nav-button" type="submit" value="Research Institutes">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="academic events" style="display: none;">
                    <input class="nav-button" type="submit" value="Academic Events">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="libraries" style="display: none;">
                    <input class="nav-button" type="submit" value="Libraries">
                </form>
            </div>
            <div class="categories" id="sightseeing">
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="old town" style="display: none;">
                    <input class="nav-button" type="submit" value="Old Town">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="castles" style="display: none;">
                    <input class="nav-button" type="submit" value="Castles">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="stocherkahn" style="display: none;">
                    <input class="nav-button" type="submit" value="Stocherkahn">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="botanical garden" style="display: none;">
                    <input class="nav-button" type="submit" value="Botanical Garden">
                </form>
            </div>
            <div class="categories" id="food">
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="restaurants" style="display: none;">
                    <input class="nav-button" type="submit" value="Restaurants">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="cafes" style="display: none;">
                    <input class="nav-button" type="submit" value="Cafés">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="chocolate market" style="display: none;">
                    <input class="nav-button" type="submit" value="Schokomarkt">
                </form>
                <form action="/serp" method="post">
                    <input type="text" id="query" name="query" value="markets" style="display: none;">
                    <input class="nav-button" type="submit" value="Markets">
                </form>
            </div>
        </div>
    </div>
    <img class="hoelderlin" src="{{ 'static/images/hoelderlin.jpg' }}" alt="Hölderlin" onclick="clickHoelderlin()">
</div>
<script>
    document.getElementById('categories').style.display = 'flex';
    const categories = ['history', 'education', 'sightseeing', 'food'];
    const introHistory = "Welcome to the history and culture of Tübingen! There is a lot to see and do in Tübingen. You can explore the town's rich history, visit museums like the Stadtmuseum and the Hölderlinturm, enjoy performances at the Landestheater Tübingen, and attend concerts at venues like the Sudhaus.";
    const introEducation = "Home to the renowned University of Tübingen, this city has long been a hub of academic excellence. From pioneering research at the Max Planck Institute for Intelligent Systems and the Cyber Valley for Artificial Intelligence to dynamic public lectures through Studium Generale, Tübingen invites you to explore a world of knowledge and innovation. As an Excellence University, Tübingen continues to lead in research and education.";
    const introSightseeing = "Tübingen is full of sights and leisure activities. From the historic Old Town with its beautiful half-timbered houses to the grand Hohentübingen Castle, the unique Stocherkahn boat rides on the Neckar River, and the peaceful Botanical Garden, there's a lot to see and do.";
    const introFood = "Are you ready to enjoy Tübingen's food scene? As Hölderlin, I'm here to guide you through the town's diverse restaurants, charming cafés, the vibrant local markets, and the delicious treats at the annual Schokomarkt. The Schokomarkt, held in December, is a chocolate lover's paradise with a variety of artisanal chocolates and sweets.";
    const introSearchButtons = "Click on one of the buttons to start a web search.";

    function hideSpeechBubble() {
        document.getElementById('speech-bubble').style.display = 'none';
    }

    function showSpeechBubble() {
        document.getElementById('speech-bubble').style.display = 'initial';
    }

    function clickHoelderlin() {
        if (document.getElementById('speech-bubble').style.display == 'none')
            showSpeechBubble();
        else
            hideSpeechBubble();
    }

    function showSubcategories(cat) {
        for (const c of categories) {
            document.getElementById(c).style.display = 'none';
            const buttonId = 'button-' + c;
            document.getElementById(buttonId).style.backgroundColor = 'teal';
        }
        const selectedButtonId = 'button-' + cat;
        document.getElementById(selectedButtonId).style.backgroundColor = 'rgb(161, 97, 1)';
        var intro;
        switch (cat) {
            case 'history':
                intro = introHistory;
                break;
            case 'education':
                intro = introEducation;
                break;
            case 'sightseeing':
                intro = introSightseeing;
                break;
            case 'food':
                intro = introFood;
                break;
        }
        intro = intro + "<br><br>" + introSearchButtons;
        document.getElementById('intro-subcategories').innerHTML = intro;
        document.getElementById(cat).style.display = 'flex';
    }

    function webSearch(query) {
        fetch('/serp', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({"query": query})
        })
    }
</script>