<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tübingen Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_interface.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ 'static/images/logo3.jpg' }}" alt="logo" width="200" style="opacity:0.5">    
        <h1>Tübingen Search Engine</h1>
        <form action="/serp" method="post">
            <input class="search-bar" type="text" id="query" name="query" placeholder="Search info about Tübingen" value="{{query}}" required>
        </form>
    </div>
    <div class="answer">{{answer}}</div>
    <div class="serp">
            {% for result in result_list %}
            <div class="result">
                <a class="link" href="{{result['link']}}">{{result['title']}}</a><br>
                <p>{{result['preview']}}</p>
            </div>
            {% endfor %}
    </div>
</body>
</html>
